/*Styles*/
.main-header-logo {width: 10vw;}
.main-header-subtitle {font-size: 2vw;}
.main-section-left {gap: 1vw;}
.main-number {font-size: 1.5vw;}
.main-title {font-size: 1.25vw;}
.copy-text {font-size: 1vw !important;}
#ir > g {cursor: pointer;transition: .3s;}
#ir > g:hover {fill: black !important;}
#ir > g:not(#esfahan,#fars,#golestan,#mazandaran,#khozestan,#hamedan,#azarbaijan-sh,#kordestan,#khorasan-r,#kerman) {fill: var(--light-map-grey);}
#esfahan, #fars, #golestan, #mazandaran, #khozestan, #hamedan, #azarbaijan-sh, #kordestan, #khorasan-r, #kerman {fill: var(--dark-map-grey);}
.iran-svg-component {width: 75%;}
.main-header-subtitle {font-size: 1.7vw;}
.main-big-title {font-size: 2vw;}
.main-subtitle {font-size: 1.6vw;}
:is(.negar-item:hover, .negar-item.active) > :is(.negar-bg, .negar-border){opacity: 1;}
.negar-bg {background-color: rgba(0, 0, 0, .2);}
.negar-item {height: 10vw;}
.blog-content {padding: 2vw;}
.main-blog-holder > ul {gap: 2vw !important;}
.blog-paragraph {font-size: 1vw !important;}
.blog-img, .blog-content {width: 50%;}
.left-pdf-img {cursor: pointer;}
.left-pdf-img.active {box-shadow: 0 0 10px rgba(0,0,0,.2);}
:is(.main-holder-scroller, .main-blog-holder, .tutorials-left-holder)::-webkit-scrollbar-thumb {background-color: black;}

.main-input {
    border: 1px solid var(--emerald);
    text-align: right;
    padding: 1vw;
    font-size: 1vw;
    outline: none;
}

.main-submit-btn {
    background-color: var(--emerald);
    padding: 1vw;
    border: none;
    color: white;
    font-size: 1vw;
}

.tutorials-left-holder {
    padding-right: 1.5vw;
    padding-left: 1vw;
    padding-block: 1vw;
}

.tutorial-holder {
    height: 30vw;
    gap: 2vw;
    margin-bottom: 3.7vw;
}

.main-blog-holder {
    height: 30vw !important;
    margin-bottom: 3.7vw;
}

.main-section-left-contact {
    padding-bottom: 7vw;
    width: auto;
}

.main-header {
    gap: 2vw;
    margin-bottom: 4vw;
}

.main-section {
    width: 50vw;
    height: 100vh;
    padding: 2vw;
}

.main-header-title {
    font-size: 1.3vw;
    margin-bottom: .5vw !important;
}

.main-header-btn {
    padding-inline: 2vw;
    padding-block: 1vw;
    font-size: 1vw;
}

.main-holder-scroller {
    height: 30vw;
    margin-bottom: 3.7vw;
    padding-right: 2vw;
}

:is(.main-holder-scroller, .main-blog-holder, .tutorials-left-holder)::-webkit-scrollbar {
    width: .3vw;
    background-image: url('../img/scrollbar/img-scrollbar-black-bg.png');
    background-size: cover;
    background-position: center center;
}

.negar-items-holder {
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.negar-border, .negar-bg {
    opacity: .6;
    transition: .3s
}

.blog-title {
    font-size: 2vw;
    margin-bottom: 1vw !important;
}

.main-blog-holder {
    height: 32vw;
    padding-right: 2vw;
}

/*Media Query's*/
@media (max-width: 991px) {
    .main-header-logo {width: 20%;}
    .iran-svg-component {width: 100%;}
    .main-section-left {gap: 20px;}
    .main-section-left-contact {padding-bottom: 0;}
    .main-big-title {font-size: 32px;}
    .main-subtitle {font-size: 32px;}
    .main-section-left-contact {width: 100%;}
    .negar-item {height: 300px;}
    .main-holder-scroller {height: 50vh;}
    .negar-items-holder {grid-template-columns: repeat(1, 1fr);}
    .main-holder-scroller::-webkit-scrollbar {width: 5px;}
    .blog-img, .blog-content {width: 100%;}
    .blog-img {height: 150px;}
    .blog-title {font-size: 18px !important;}
    .blog-paragraph {font-size: 13px !important;}
    .main-blog-holder {height: 500px !important;}
    .main-input, .main-submit-btn {
        padding: 10px;
        font-size: 15px;
    }

    .tutorial-holder {
        height: 500px;
        margin-bottom: 20px;
    }

    .main-section {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .main-header-btn {
        font-size: 15px;
        padding-inline: 20px;
        padding-block: 8px;
    }

    .main-number, .main-title  {
        font-size: 22px;
        text-align: center;
    }

    .copy-text {
        font-size: 17px !important;
        margin-top: 25px;
    }
}