/*Styles*/
.main-header-logo {width: 10vw;}
.main-header-subtitle {font-size: 2vw;}
.main-section-left {gap: 1vw;}
.main-number {font-size: 1.5vw;}
.main-title {font-size: 1.25vw;}
.copy-text {font-size: 1vw !important;}
#ir > g {cursor: pointer;}
#ir > g:not(#esfahan,#fars,#golestan,#mazandaran,#khozestan,#hamedan,#azarbaijan-sh,#kordestan,#khorasan-r,#kerman) {fill: var(--light-map-grey);}
#esfahan, #fars, #golestan, #mazandaran, #khozestan, #hamedan, #azarbaijan-sh, #kordestan, #khorasan-r, #kerman {fill: var(--dark-map-grey);}
.iran-svg-component {width: 75%;}
.main-header-subtitle {font-size: 1.7vw;}
.main-big-title {font-size: 2vw;}
.main-subtitle {font-size: 1.6vw;}

.main-section-left-contact {
    padding-bottom: 7vw;
    width: auto;
}

.main-header {
    gap: 2vw;
    margin-bottom: 4vw;
}

.main-section {
    width: 50vw;
    height: 100vh;
    padding: 2vw;
}

.main-header-title {
    font-size: 1.3vw;
    margin-bottom: .5vw !important;
}

.main-header-btn {
    padding-inline: 2vw;
    padding-block: 1vw;
    font-size: 1vw;
}

.main-holder-scroller {
    height: 30vw;
    margin-bottom: 2vw;
    padding-right: 2vw;
}

.main-holder-scroller::-webkit-scrollbar {
    width: .3vw;
    background-image: url('../img/img-scrollbar-black-bg.png');
    background-size: cover;
    background-position: center center;
}

.main-holder-scroller::-webkit-scrollbar-thumb {
    background-color: black;
}

.negar-items-holder {
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.negar-border, .negar-bg {
    opacity: 0;
    transition: .3s
}

.negar-item:hover > :is(.negar-bg, .negar-border){opacity: 1;}
.negar-bg {background-color: rgba(0, 0, 0, .2);}
.negar-item {height: 10vw;}

/*Media Query's*/
@media (max-width: 991px) {
    .main-header-logo {width: 20%;}
    .iran-svg-component {width: 100%;}
    .main-section-left {gap: 20px;}

    .main-section {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .main-header-btn {
        font-size: 15px;
        padding-inline: 20px;
        padding-block: 8px;
    }

    .main-number, .main-title  {
        font-size: 22px;
        text-align: center;
    }

    .copy-text {
        font-size: 17px !important;
        margin-top: 25px;
    }

    .main-section-left-contact {padding-bottom: 0;}
    .main-big-title {font-size: 32px;}
    .main-subtitle {font-size: 32px;}
    .main-section-left-contact {width: 100%;}
}