/*Styles*/
.middle-main-title > span:first-of-type{font-size: 3vw !important;}
.middle-main-title > span:last-of-type{font-size: 3.35vw !important;}
.middle-arrow-icon {width: 5vw;}
:is(.middle-paragraph-holder, .middle-scroll-holder)::-webkit-scrollbar-thumb {background-color: white;}
.middle-paragraph {font-size: 1vw;}
.middle-social-icon {width: 1.5vw;}
.middle-socials {gap: 1vw;width: auto;}
.middle-top-holder {padding: 3vw;}
.middle-header {height: 20vw;}
.middle-main-title {margin-right: 0;margin-bottom: 1.5vw;}
.middle-main-title-btns-holder {margin-bottom: 1.5vw;}
.middle-title-holder, .middle-paragraph-holder {height: 50% !important;}

.middle-section {
    width: 40vw;
    height: 100vh;
}

.middle-paragraph-holder,
.middle-scroll-holder{
    padding-right: 2vw;
    width: 80%;
}

.middle-main {
    height: 27vw;
    padding: 3vw;
    gap: 2vw;
}

.middle-title {
    font-size: 1.65vw;
    line-height: 2.5vw;
}

.middle-top-bg {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    left: 0;
}

.middle-cta {
    font-size: 1vw;
    transform: rotate(-90deg);
    transform-origin: left center;
}

:is(.middle-paragraph-holder, .middle-scroll-holder)::-webkit-scrollbar {
    width: .3vw;
    background-image: url('../img/img-scrollbar-white-bg.png');
    background-size: cover;
    background-position: center;
}

/*Media Query's*/
@media (max-width: 991px) {
    .middle-main {height: auto;}
    .middle-social-icon {width: 25px;}
    .middle-paragraph {font-size: 17px;}
    .middle-main-title > span:is(:first-of-type, :last-of-type){font-size: 32px !important;}
    :is(.middle-paragraph-holder, .middle-scroll-holder)::-webkit-scrollbar {width: 5px;}
    .middle-main {gap: 0;}
    .middle-section {
        width: 100%;
        height: auto;
    }

    .middle-paragraph-holder {
        height: 250px !important;
        margin-bottom: 20px;
        width: 100%;
    }

    .middle-title {
        font-size: 23px;
        line-height: normal;
    }

    .middle-header {
        height: auto;
        width: 100%;
    }

    .middle-title-holder {
        height: auto;
        margin-block: 20px;
    }

    .middle-socials {
        width: 100%;
        gap: 10px;
        margin-bottom: 20px;
    }
}