/*Styles*/
.nav-inner {height: 37vw;}

nav {
    width: 10vw;
    height: 100vh;
}

.nav-logo-holder {
    width: 10vw;
    height: 10vw;
}

.nav-links-holder {
    transform: rotate(-90deg);
    gap: 1.5vw;
}

.nav-link {
    font-size: 1vw !important;
    font-weight: 500 !important;
}

.nav-link-icon {
    width: 1vw;
    height: 1vw;
}

/*After, Before*/
.nav-link:before {
    content: '';
    position: absolute;
    right: 0;
    top: 110%;
    width: 0;
    height: 1px;
    background-color: black;
    transition: .3s;
}

/*Hover , ..*/
.nav-link:is(:hover, :focus):before, .nav-link.active::before {width: 100%;}

/*Media Query's*/
@media (max-width: 991px) {
    nav {
        width: 100%;
        height: auto;
        border-bottom: 1px solid var(--light-grey-color);
    }
}