
@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Yekan-Bakh/font/woff/yekanbakh-thin.woff') format('woff'),
    url('../fonts/Yekan-Bakh/font/woff2/yekanbakh-thin.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Yekan-Bakh/font/woff/yekanbakh-Light.woff') format('woff'),
    url('../fonts/Yekan-Bakh/font/woff2/yekanbakh-Light.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Yekan-Bakh/font/woff/yekanbakh-Regular.woff') format('woff'),
    url('../fonts/Yekan-Bakh/font/woff2/yekanbakh-Regular.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Yekan-Bakh/font/woff/yekanbakh-SemiBold.woff') format('woff'),
    url('../fonts/Yekan-Bakh/font/woff2/yekanbakh-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Yekan-Bakh/font/woff/yekanbakh-Bold.woff') format('woff'),
    url('../fonts/Yekan-Bakh/font/woff2/yekanbakh-Bold.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Yekan-Bakh/font/woff/yekanbakh-ExtraBold.woff') format('woff'),
    url('../fonts/Yekan-Bakh/font/woff2/yekanbakh-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Yekan-Bakh/font/woff/yekanbakh-Black.woff') format('woff'),
    url('../fonts/Yekan-Bakh/font/woff2/yekanbakh-Black.woff2') format('woff2');
}

@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 950;
    src: url('../fonts/Yekan-Bakh/font/woff/yekanbakh-ExtraBlack.woff') format('woff'),
    url('../fonts/Yekan-Bakh/font/woff2/yekanbakh-ExtraBlack.woff2') format('woff2');
}


/*Variables*/
:root {
    --theme-color: #60725A;
    --emerald: #077D41;

    --lg-size: 991px;
    --grey-color: #898480;
    --dark-grey-color: #7A7A7A;
    --light-grey-color: #cbc4be;
    --dark-map-grey: #A3A8A2;
    --light-map-grey: #B5BAB4;
    --yelow-green: #C7DB46;
}

/*Styles*/
body {font-family: yekanbakh, sans-serif !important;}

.text-grey {color: var(--grey-color);}
.text-theme {color: var(--theme-color);}
.text-emerald {color: var(--emerald);}
.text-dark-grey {color: var(--dark-grey-color);}
.text-yellow-green {color: var(--yelow-green);}

.bg-theme {background-color: var(--theme-color);}
.bg-grey {background-color: var(--grey-color);}
.bg-emerald {background-color: var(--emerald);}
.bg-dark-grey {background-color: var(--dark-grey-color);}
.bg-yellow-green {background-color: var(--yelow-green);}

.fw-extrabold {font-weight: 800;}
.fw-black {font-weight: 900;}