@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url("font/iranyekanwebbold.woff");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url("font/iranyekanweblight.woff");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url("font/iranyekanwebregular.woff");
}