/*Declaring Font*/
@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 100;
	src: url('/assets/base/fonts/Yekan-Bakh/font/woff/Yekanbakh-thin.woff') format('woff'),
	url('/assets/base/fonts/Yekan-Bakh/font/woff2/Yekanbakh-thin.woff2') format('woff2');
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 300;
	src: url('/assets/base/fonts/Yekan-Bakh/font/woff/Yekanbakh-Light.woff') format('woff'),
	url('/assets/base/fonts/Yekan-Bakh/font/woff2/Yekanbakh-Light.woff2') format('woff2');
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: normal;
	src: url('/assets/base/fonts/Yekan-Bakh/font/woff/Yekanbakh-Regular.woff') format('woff'),
	url('/assets/base/fonts/Yekan-Bakh/font/woff2/Yekanbakh-Regular.woff2') format('woff2');
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: bold;
	src: url('/assets/base/fonts/Yekan-Bakh/font/woff/Yekanbakh-SemiBold.woff') format('woff'),
	url('/assets/base/fonts/Yekan-Bakh/font/woff2/Yekanbakh-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: bold;
	src: url('/assets/base/fonts/Yekan-Bakh/font/woff/Yekanbakh-Bold.woff') format('woff'),
	url('/assets/base/fonts/Yekan-Bakh/font/woff2/Yekanbakh-Bold.woff2') format('woff2');
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 800;
	src: url('/assets/base/fonts/Yekan-Bakh/font/woff/Yekanbakh-ExtraBold.woff') format('woff'),
	url('/assets/base/fonts/Yekan-Bakh/font/woff2/Yekanbakh-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 900;
	src: url('/assets/base/fonts/Yekan-Bakh/font/woff/Yekanbakh-Black.woff') format('woff'),
	url('/assets/base/fonts/Yekan-Bakh/font/woff2/Yekanbakh-Black.woff2') format('woff2');
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 950;
	src: url('/assets/base/fonts/Yekan-Bakh/font/woff/Yekanbakh-ExtraBlack.woff') format('woff'),
	url('/assets/base/fonts/Yekan-Bakh/font/woff2/Yekanbakh-ExtraBlack.woff2') format('woff2');
}
